<!DOCTYPE html>
<html lang="en" style="background-color: #7a7;">
  <head>
    <meta charset="utf-8">
    <title>Pogodynka</title>
    <script src="static/jquery.min.js"></script>
    <script type="text/javascript" src="static/pogodynka.js"></script>
  </head>
  <body style="
    background-color: #efe;
    width: 400px;
    margin: auto;
    margin-top: 50px;
">
    <div id="message"style="
    font-size: xx-large;
">
        Witaj przyjacielu. Stan aktualny to:    </div>
<br>
<div>Temperatura otoczenia: <span id="temperature"></span></div>
<div>Wilgotność względna: <span id="humidity"></span></div>
<br>
<p> I to by było na tyle...</p>
</body>
</html>
